In [1]:
import pandas as pd

In [2]:
london_bikes = pd.read_csv("london_merged.csv")

In [3]:
london_bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [4]:
new_col_names = {
    "timestamp": "time",
    "cnt": "count",
    "t1": "temp_C",
    "t2": "temp_feels_like_C",
    "hum": "humidity",
    "wind_speed": "wind_speed_kph",
    "weather_code": "weather",
    "is_holiday": "is_holiday",
    "is_weekend": "is_weekend",
    "season": "season"
}

london_bikes.rename(columns=new_col_names, inplace=True)

In [5]:
london_bikes["humidity"] = london_bikes["humidity"].apply(lambda x: x / 100)
london_bikes["season"] = london_bikes["season"].astype(int)
london_bikes["weather"] = london_bikes["weather"].astype(int)

In [6]:
season_codes = {
    0: "Spring",
    1: "Summer",
    2: "Fall",
    3: "Winter"
}

weather_codes = {
    1: "Clear",
    2: "Scattered clouds",
    3: "Broken clouds",
    4: "Cloudy",
    7: "Rain",
    10: "Rain with thunderstorm",
    26: "Snowfall",
    94: "Freezing Fog"
}

london_bikes["season"] = london_bikes["season"].map(season_codes)
london_bikes["weather"] = london_bikes["weather"].map(weather_codes)

In [7]:
london_bikes.to_csv("london_bikes.csv", index=False)